.idea/
.gradle/
local.properties
build/
*/build/

*.iml
*/*.iml

# Crashlytics configuations
com_crashlytics_export_strings.xml
crashlytics-build.properties

# Eclipse project files
.classpath
.project

# OSX files
.DS_Store
.DS_Store?

# Windows thumbnail db
ehthumbs.db
Thumbs.db

# OS-specific files
._*
.Spotlight-V100
.Trashes

# Log Files
*.log